* { box-sizing: border-box; margin: 0; padding: 0; }
html { font-size: 16px; }
body {
  background: #070707;
  color: #f0efe8;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}
a { color: #c8f542; text-decoration: none; }
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #222; border-radius: 3px; }
